<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

    <h1>Add a new dog</h1>

    <form action="/new" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>

        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" id="dob">

        <fieldset>
            <legend>Breed:</legend>
            <% for (const breed in dogBreeds) { %>
            <input type="checkbox" name="breed" id="breed_<%= breed %>" value="<%= dogBreeds[breed] %>">
            <label for="breed_<%= breed %>"><%= dogBreeds[breed] %></label><br>
            <% } %>
        </fieldset>

        <fieldset>
            <legend>Gender:</legend>
            <input type="radio" name="gender" id="male" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" name="gender" id="female" value="Female">
            <label for="female">Female</label>
        </fieldset>

        <fieldset>
            <legend>Can live with:</legend>
            <p>Cats: 
            <input type="radio" name="live_with_cats" id="cats_yes" value="true">
            <label for="cats_yes">Yes</label>
            <input type="radio" name="live_with_cats" id="cats_no" value="false">
            <label for="cats_no">No</label></p>

            <p>Dogs:
            <input type="radio" name="live_with_dogs" id="dogs_yes" value="true">
            <label for="dogs_yes">Yes</label>
            <input type="radio" name="live_with_dogs" id="dogs_no" value="false">
            <label for="dogs_no">No</label></p>

            <p>Children:
            <input type="radio" name="live_with_children" id="children_yes" value="true">
            <label for="children_yes">Yes</label>
            <input type="radio" name="live_with_children" id="children_no" value="false">
            <label for="children_no">No</label></p>
        </fieldset>
        
        <label for="location">Location:</label>
        <input type="text" name="location" id="location"><br>

        <label for="description">Description:</label><br>
        <textarea name="description" rows="20" cols="60" id="description"></textarea>

    <button type="submit">Submit</button>
    </form>

</body>
</html>
