<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

    <h1 class="index">View all the dogs that are looking for their furever sofas!</h1>

        <ul>
            <% allDogs.forEach((dog) => { %>
                <li>
                    <a href="/dogs/<%= dog._id %>">
                        <div class="polaroid">
                        <img class="polaroid-image" src="<%= dog.image %>" width="300px" alt="<%= dog.name %> the <%= dog.breed.join(", ") %>">
                            <div class="caption">
                            <h3 class="dog-name"><%= dog.name %></h3>
                            <p><%= dog.breed.join(", ") %></p>
                            <p><%= dog.location %></p>
                            </div>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>

</body>
</html>