<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

    <h1>View all the dogs that are looking for their furever sofas!</h1>

        <ul>
            <% allDogs.forEach((dog)=> { %>
                <li>
                    <h3><a href="/dogs/<%= dog._id %>">
                        <%= dog.name %></a></h3>
                        <img src="<%= dog.image %>" width="300px" alt="<%= dog.name %> the <%= dog.breed.join(", ") %>">
                </li>
            <% }) %>
        </ul>

</body>
</html>